<div class="container">
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th >sic</th>
                <th >name</th>
               
                <th >Action</th>
            </tr>
        </thead>
        <tbody *ngIf="dataFetched">   
            <tr  *ngFor="let userData of records" >
                <td>{{userData.sic}}</td>
                <td>{{userData.stu_name}}</td>
               
                <td><button (click)="delete(userData.sic)" class="btn btn-danger" value="DELETE">DELETE</button>
                    <button (click)="details(userData)" class="btn btn-secondary" value="DETAILS">DETAILS</button>
                </td>
            </tr>
    </tbody>
    </table>
</div>
