<div class="container">
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>sic</th>
                <th>name</th>
                <th>gender</th>
                <th>father name</th>
                <th>mother name</th>
                <th>dob</th>
                <th>matric board</th>
                <th>matric roll</th>
                <th>matric perc</th>
                <th>state</th>
                <th>district</th>
                <th>street address</th>
                <th>phone</th>
                <th>email</th>
                <th>password</th>
                <th>status</th>
                <th>hobby   </th>
            </tr>
        </thead>
        <tbody>   
            <tr>
                <td>{{userData.result.sic}}</td>
                <td>{{userData.result.stu_name}}</td>
                <td>{{userData.result.gender}}</td>
                <td>{{userData.result.father_name}}</td>
                <td>{{userData.result.mother_name}}</td>
                <td>{{userData.result.dob}}</td>
                <td>{{userData.result.matric_board}}</td>
                <td>{{userData.result.matric_roll}}</td>
                <td>{{userData.result.matric_perc}}</td>
                <td>{{userData.result.state}}</td>
                <td>{{userData.result.district}}</td>
                <td>{{userData.result.street_address}}</td>
                <td>{{userData.result.phone}}</td>
                <td>{{userData.result.email}}</td>
                <td>{{userData.result.password}}</td>
                <td>{{userData.result.status}}</td>
                <td>{{userData.result.hobby}}</td>
            </tr>
    </tbody>
    </table>
</div>