<div class="container" style="display: flex;">
    <div class="col-md-2 left-panel" >
        <div> DETAILS </div>
        <div class="detail-panel" *ngIf="dataFetched">
            <div>{{userData.data.sic}}</div>
            <div>{{userData.data.stu_name}}</div>
            <div>{{userData.data.gender}}</div>
            <div>{{userData.data.father_name}}</div>
            <div>{{userData.data.mother_name}}</div>
            <div>{{userData.data.dob}}</div>
            <div>{{userData.data.matric_board}}</div>
            <div>{{userData.data.matric_roll}}</div>
            <div>{{userData.data.matric_perc}}</div>
            <div>{{userData.data.state}}</div>
            <div>{{userData.data.district}}</div>
            <div>{{userData.data.street_address}}</div>
            <div>{{userData.data.phone}}</div>
            <div>{{userData.data.email}}</div>
            <div>{{userData.data.password}}</div>
            <div>{{userData.data.status}}</div>
            <div>{{userData.data.hobby}}</div>
        </div>
    </div>
    <div class="col">
        <div>Activities</div>
        <div *ngIf="actDataFetched">
            <div *ngFor="let activity of acts">
                <div class="activities">
                    {{activity}}
                </div>
            </div>
            
        </div>
        <textarea class="activity" name="activity" placeholder="Write your new activity" #act></textarea>
            <input style="float: right;" type="button" class="btn btn-primary" value="Add" (click)="addActivity(userData.data.sic, act.value)"> 
    </div>

    
</div>   

<br>