.activity {
    width: 100%;
    margin-top: 10px;
}
.container{
    margin-top: 10%;
}
.detail-panel {
    font-weight: bolder;
}
.detail-panel div {
    margin: 5px;
}
.detail-panel {
    border: 1px solid #d3cece;
    box-shadow: 10px 10px 8px #888888;
}
.activities {
    border: 1px solid #d3cece;
    box-shadow: 10px 10px 8px #888888;
    margin: 10px 0px;
    padding: 4px 10px;
    display: inline-block;
    width: 85%;
}
.container-fluid{
    padding: 0px;
}
.deletebtn {
    margin-left: 21px;
}
